<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"/>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Home</title>
</head>
<body>
    <header>
        <figure>
            <img src="../static/ArquivosProj/logo.png" alt="Logo">
        </figure>
        <nav>
            <ul>
                <li>Avaliações</li>
                <li>Relatórios</li>
                <li>Normas Avaliação</li>
                <li>Sobre</li>
                <button>Entrar</button>  
            </ul>
            
        </nav>
    </header>
    <main>
        <figure>
            <div>
                <h1>O acompanhamento de crianças e adolescentes com foco no seu bem-estar!</h1>
                <button>Saiba mais</button>
            </div>
            <img src="../static/ArquivosProj/img-main.png" alt="imgMain">
        </figure>
    </main>
    <section>
        <h1>Avaliações</h1>
        
        <div id="cards">
            <figure>
                <img src="../static/ArquivosProj2/img_card1.png" alt="">
                <h2>Avaliação da Antropometria e Composição Corporal</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit facilis architecto odit assumenda ab? Ipsum accusamus laboriosam, unde iure quae porro accusantium voluptates quam, id non laudantium provident beatae voluptatum?</p>
                <button>Avaliar</button>
            </figure>
            <figure>
                <img src="../static/ArquivosProj2/img_card2.png" alt="">
                <h2>Avaliação IMC</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non suscipit facilis exercitationem quasi repudiandae nisi accusantium molestiae laudantium rerum amet voluptates et animi, rem, cumque repellat fugit itaque ab tenetur?</p>
                <a>Avaliar</a>
            </figure>
            <figure>
                <img src="../static/ArquivosProj2/img_card3.png" alt="">
                <h2>Avaliação Abdominais</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus beatae dolore tempore est officiis similique accusamus, labore voluptas recusandae doloribus voluptatibus? Et dicta nobis, nam quisquam voluptas vero laudantium tempora.</p>
                <button>Avaliar</button>
            </figure>
        </div>
    </section>
    <footer>
        <div>
            <h2>Contato</h2>
            <figure>
                <img src="../static/ArquivosProj3/icon-email.png" alt="">
                <h3>essencialmente@email.com</h3>
            </figure>
            <figure>
                <img src="../static/ArquivosProj3/icon-home.png" alt="">
                <h3>Rua La Salle, 56 Xanxerê - SC</h3>
            </figure>
        </div>

        <div>
            <h2>Redes Sociais</h2>
            <figure>
                <img src="../static/ArquivosProj3/icon-insta.png" alt="">
                <img src="../static/ArquivosProj3/icon-whats.png" alt="">
                <img src="../static/ArquivosProj3/icon-twitter.png" alt="">
            </figure>
        </div>
    </footer>
</body>
</html>